.btn {
    background-color: #4527a0;
    margin: 3px;
}

.nav-link {
    color: #4527a0;
}

.hide {
    display: none;
}

.purple {
    background-color: #4527a0;
    font-size: 30px;
}

.score-text {
    font-size: 18px;
    color: #4527a0;
    text-align: center;
}

.start-again {
    display: none;
}